body {
    min-width: 600px !important;
}

/* Video Feed Styling */
#overlay {
    z-index: 1;
}

/* Navbar styling */
#webgazerNavbar {
    left: 320px;
    z-index: 0;
    box-shadow: 0px 3px 5px #ddd;
    border: 0px;
    background-color: #fff;
}

#Accuracy a {
    background-color: #222;
    color: #eee;
    left: -15px;
    padding-left: 80px;
    padding-right: 40px;
}

#Accuracy {
    background-color: #222;
    padding-left: inherit;
}

li {
    padding-left: 50px;
}

.navbar-right li {
    padding-right: 20px;
}

.helpBtn {
    padding: 15px;
    border: none;
    background: none;
    color: #777;
}

.helpBtn a {
    background: none;
    color: #777;
}

.helpBtn a:hover {
    color: black !important;
    text-decoration: none;
}

.modal-header {
    border-bottom: none !important;
}

/* Calibration button styling */
.Calibration {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.2;
    border-color: black;
    border-style: solid;
    position: fixed;
}

/* Calibration point position */
#Pt1 {
    top: 2vw;
    left: 2vw;
    margin-left: 355px;
}

#Pt2 {
    top: 2vw;
    left: 50vw;
    margin-left: 177.5px;
}

#Pt3 {
    top: 2vw;
    right: 2vw;
    margin-right: 40px;
}

#Pt4 {
    top: 50vh;
    left: 2vw;
    margin-left: 355px;
}

#Pt5 {
    top: 50vh;
    left: 50vw;
    margin-left: 177.5px;
}

#Pt6 {
    top: 50vh;
    right: 2vw;
    margin-right: 40px;
}

#Pt7 {
    bottom: 2vw;
    left: 2vw;
    margin-left: 355px;
}

#Pt8 {
    bottom: 2vw;
    left: 50vw;
    margin-left: 177.5px;
}

#Pt9 {
    bottom: 2vw;
    right: 2vw;
    margin-right: 40px;
}


/* hmtl selectbox top margin */
div.select {
    padding-top: 243px;
}

/* videoの位置を調整したい */
video#rear {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 100%;
    min-width: 80%;
}

div#key {
    position: absolute;
    background-color: rgb(250, 240, 240);
    margin-top: 5px;
    margin-left: 15px;
    width: 280px;
    min-height: 200px;
    height: inherit;
    font-size: 120%;
}

div.Coor {
    position: relative;
    margin-top: 1em;
    margin-left: 15px;
}

div#message {
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}